$primary: #1ED760;
$primary-light: #34CF6C;
$secondary: #e4ff9e;
$color-dark-1: #111;
$color-dark-2: #222;
$color-dark-3: #333;

$width-content: 1260px;
$space-base: 8px;
$font-base: 18px;

@use 'sass:color';
* {
    box-sizing: border-box;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* 
body,
html {
    height: 100%;
}

html{

}
 */
/* p {
    //margin: 0;
} */
html {
    scroll-behavior: smooth;
}

%box-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.075);
}

.bg__loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 4, 4, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;

    .loading {
        border: 14px solid #ddd;
        border-top: 14px solid $primary;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        animation-play-state: paused;
        opacity: .8;
    }

    &--show {
        visibility: visible;
        opacity: 1;

        .loading {
            animation-play-state: running;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    color: $color-dark-2;
    font-size: $font-base;
    margin: 0;
    background-color: #ece9e0;
    //background-color: #f1f0e9;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    position: relative;
}

/* .main {
    //background-color: white;
} */

.section {
    background-color: white;
    padding-inline: $space-base * 13;
    padding-bottom: $space-base * 10;
    border-bottom: solid 1px #ccc;
}

.u-max-width {
    //max-width: $width-content;
    margin-inline: auto;
    width: $width-content;
}

.background {
    background-color: #1e2f1c;
    //border-top: solid 6px $primary;
    background-image: url(../images/home/bg-search.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.circles__item {
    position: absolute;
    height: 450px;
    width: 450px;
    filter: blur(40px);
    opacity: .9;

    &--one {
        top: -35%;
        left: 35%;
        background-image: radial-gradient(rgba(154, 153, 22, 0.5), rgba(29, 46, 28, 0.0) 70%)
    }

    &--two {
        bottom: -42%;
        right: -14%;
        background-image: radial-gradient(rgba(30, 215, 96, 0.4), rgba(29, 46, 28, 0.0) 70%)
    }

    &--threee {
        height: 300px;
        width: 300px;
        bottom: -50%;
        left: 0%;
        background-image: radial-gradient(rgba(123, 133, 77, 0.95), rgba(29, 46, 28, 0.0) 70%)
    }
}

.search-content {
    position: relative;
}

.search {
    min-height: 440px;
    //max-width: 1060px;
    width: 1060px;
    margin-inline: auto;
    color: #f8ffcf;
    position: relative;

    &__logo {
        width: 46px;
        height: auto;
        margin-top: $space-base * 4;
        vertical-align: super;
        transition: width .3s ease-in;  
    }

    &__logo-svg {
        fill: rgb(248, 255, 207);
        width: 250px;
        margin-left: 16px;
        margin-top: $space-base * 11;
        display: inline-block;
        transition: width .3s ease-in, padding-bottom .3s ease-in, margin-top .3s ease-in; ;     
    }

    &__title {
        font-size: 3.15rem;
        font-family: "Montserrat", sans-serif;
        display: inline-block;
        margin-block: $space-base * 10 0;
        margin-left: $space-base * 2;
        line-height: 1;
        font-weight: 400;
        transition: font-size 0.3s ease-in;        ;
    }

    &__info {
        font-size: $font-base;
        max-width: 50%;
        font-weight: 300;
        margin-block: .5rem 1.5rem;
    }

    &__wrap {
        display: inline-flex;
        height: 48px;
    }

    &__label {
        width: 100%;
        color: $primary;
        margin-bottom: $space-base;
        display: block;
    }

    &__input {
        border: none;
        outline: solid 4px #20371d;
        border-radius: 4px 0 0 4px;
        width: 280px;
        padding: 5px 10px 5px 20px;
        margin-right: -4px;
        font-size: $font-base;

        &:focus {
            outline: none;
        }
    }

    &__button {
        background-color: $primary;
        border: none;
        outline: solid 4px #20371d;
        border-radius: 0 4px 4px 0;
        color: #222;
        cursor: pointer;
        letter-spacing: 2px;
        padding: 10px 50px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &--active {
        min-height: 500px;
    }
    &--active & {
        
        &__logo-svg {
            width: 210px;
            padding-bottom: calc($space-base / 2);
            margin-top: $space-base * 9;
        }
        &__title {
            font-size: 2.5rem;
            cursor: pointer;
        }
        &__logo {
            width: 42px;
            cursor: pointer;
        }
    }
}

/* .slider:has(.slider__name:hover) {
    background-color: red;
} */

.slider {
    overflow: hidden;
    margin-block: 40px 120px;
    display: flex;
    position: relative;
    padding-bottom: 1rem;

    &__track {
        //white-space:nowrap;
        display: flex;
        animation: 70s slide linear infinite;
        will-change: transform;
        padding: 0;
        //animation-play-state: paused;

        &:hover :not(:hover) img {
            filter: brightness(0.8);
        }
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        padding: 0.75rem 0.75rem 0;
        margin: 0 20px;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        transition: box-shadow 0.3s ease;
        text-decoration: none;

        &:hover {
            box-shadow: 0 10px 20px rgba(14, 22, 15, 0.2);
        }

        &:hover .slider__view-artist {
            visibility: visible;
            opacity: 1;
        }

    }

    &__img {
        display: block;
        width: 240px;
        height: 170px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        transition: filter 0.3s ease;
        //pointer-events: none;
    }

    &__info {
        margin: 0;
        padding: 16px 24px 16px;
        font-size: 14px;
        color: #555;
        //pointer-events: none;
    }

    &__name {
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-dark-1;
    }

    &__view-artist {
        display: block;
        font-weight: 500;
        font-size: 16px;
        color: color.adjust($primary, $lightness: -15%);
        padding: 16px 0 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        width: 150px;
        height: 100%;
        content: "";
        z-index: 1;
    }

    &:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #ece9e0);
    }

    &:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ece9e0);
    }

    &:hover &__track {
        animation-play-state: paused;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* .artists {
    --width-card: 260px;
    --quantity: 10;
    display: none;
    width: 100%;
    max-width: 1560px;
    margin-inline: auto;
    height: 200px;
    mask-image: linear-gradient(to right,
            transparent,
            #000 15% 85%,
            transparent);

    &__list {
        margin: 0;
        padding: 0;

        display: flex;
        width: 100%;
        min-width: calc(var(--width-card) * var(--quantity));
        position: relative;
    }

    &__item {
        list-style-type: none;
        width: var(--width-card);
        position: absolute;
        left: 100%;
        animation: autorun 60s linear infinite;
        animation-play-state: paused;
        animation-delay: calc((60s / var(--quantity)) * (var(--position) - 1) - 60s)
    }

    &__img {
        width: 100%;
        display: block;
    }
} 

[data-position='1']{--position:1} 
.artists__item:nth-child(1){--position:1} 
 */

.section-title {
    font-size: 2rem;
    margin-block: 0 $space-base * 4;
    padding-top: $space-base * 8;
    font-weight: 400;
}

.artist-info {
    margin-top: -220px;
    border-radius: 24px 24px 0 0;
    display: grid;
    grid-template-areas:
        "left center right-top"
        "left center right-bottom";
    grid-template-columns: 1fr 300px 80px;
    //grid-template-rows: 1fr auto;
    grid-template-rows: 160px 1fr;

    &::after {
        content: "";
        grid-area: right-bottom;
        background-color: $secondary;
        border-radius: 0 24px 0 0;
        position: relative;
    }

    &+.section {
        min-height: 365px;
    }

    &+.section+.section {
        min-height: 676px;
    }
}


.info {
    grid-row: 2 / 3;
    background-color: $secondary;
    padding: 3.75rem 2rem 3.75rem 5rem;
    border-radius: 24px 0 0 0;
    align-content: center;

    &__name {
        font-size: 4rem;
        color: color.adjust($primary, $lightness: -40%);
        text-align: right;
        margin: 0;
        font-weight: 300;
        line-height: 1.05;
        margin-bottom: calc($space-base / 2);
        text-wrap-style: balance;
    }

    &__followers,
    &__popularity {
        display: block;
        text-align: right;
    }
}

.media {
    position: relative;
    top: 50px;
    grid-row: span 2;
    align-self: end;

    &__image {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 24px;
        display: block;
        @extend %box-shadow;
    }

    &__play {
        position: absolute;
        right: 16px;
        bottom: 16px;
        width: 75px;
        height: 75px;
        overflow: hidden;
        background-image: url(../images/play.png);
        background-size: 100%;
        outline: solid 8px rgba(0, 0, 0, 0.2);
        border-radius: 50%;

        audio {
            opacity: 0;
            transform: scale(2.5);
            transform-origin: 18px 18px;
        }

        &--active {
            background-image: url(../images/pause.png);
        }
    }
}



.artist-bio {
    &__text {
        //margin: 0 0 $space-base * 4;
        line-height: 1.75;
        white-space: pre-line;
        max-width: 78%;
        text-wrap-style: pretty;
    }
}

.tag {
    background-color: $color-dark-1;
    display: inline-block;
    font-size: 1rem;
    color: white;
    padding: $space-base $space-base * 2;
    border-radius: 8px;
    margin: $space-base * 2 $space-base 0 0;
}

.artist-albums {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    gap: $space-base * 6;
}

.album {
    border: solid 1px #eee;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @extend %box-shadow;

    &__info {
        padding: $space-base*2 $space-base * 3 $space-base * 4;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: block;
        margin: 0;
        max-height: 300px;
        object-fit: cover;
        transition: transform 0.3s ease;
        transform-origin: center center;
    }

    &__name {
        font-size: 1.2rem;
        margin: $space-base 0 calc($space-base / 2) ;
        line-height: 1.4;
        font-weight: 500;
    }

    &__year {
        padding: $space-base * 3 $space-base * 2;
        font-size: 1rem;
        color: #30421a;
        line-height: 1;
        background-color:#effccf;
    }

    &__tracks {
        color: color.adjust($primary, $lightness: -13%);
        font-size: 1rem;
        margin: 0;
    }

    &__link {
        font-size: 1rem;
        transition: opacity 0.3s ease;
        margin-top: auto;
        display: none;
        /* flex-grow: 1; 
         align-content: flex-end;*/
    }

    &:hover &__link {
        visibility: visible;
        opacity: 1;

    }

    &:hover & {
        &__image {
            transform: scale(1.05);
            cursor: pointer;
        }        
    }
}
/* #artist-albums:hover :not(:hover).album {
    box-shadow: none;    
 } */

.similar-music {
    display: flex;
    flex-direction: column;
    row-gap: $space-base * 6;
    min-height: 813px;
    margin-bottom: 2rem;
}

.track {
    display: flex;
    width: 100%;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 16px;
    @extend %box-shadow;
    min-height: 128px;

    &__order {
        width: 7%;
        background-color:#effccf;
        align-self: stretch;
        align-content: center;
        text-align: center;
        color: #3e5721;
        font-weight: 400;
        font-size: 1.25rem;
        border-radius: 16px 0 0 16px;
    }

    &__image {
        width: 13%;
        object-fit: cover;
        align-self: stretch;
    }

    &__info {
        width: 44%;
        padding: $space-base * 3.5;
    }

    &__name {
        display: block;
        font-weight: 500;
        //font-size: 1.2rem;
    }

    &__artist {
        color: color.adjust($primary, $lightness: -13%);
        font-weight: 500;
    }

    &__album {
        display: block;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__audio {
        width: 35%;
        padding-inline: $space-base * 4;
        border-left: solid 1px #ddd;
        align-self: stretch;
        align-content: center;
        background-color: white;
        border-radius: 0 16px 16px 0;

        audio {
            width: 100%;
            transform: scale(1.05);
        }
    }
}


/* .bg-album-details{
    //content: "";
    background-color: #090909ad;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}
 */


.wrap-album-details {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}


.album-details {
    position: relative;
    background-color: white;
    border-radius: 24px;
    width: 95%;
    max-width: 1260px;
    overflow: hidden;
    display: grid;
    gap: 1rem 6rem;
    grid-template-columns: 500px 1fr;
    padding: 3.75rem 4rem 4rem;
    @extend %box-shadow;

    &:before {
        content: "";
        height: 100%;
        width: 49.5%;
        background-color: #f6ffe1;
        position: absolute
    }
}

.album-info {
    grid-column: span 2;
    width: 80%;
    position: relative;

    &__name {
        font-size: 2.25rem;
        line-height: 1.2;
        font-weight: 500;
        display: block;
        margin-bottom: .25rem;
    }

    &__artist {
        color: color.adjust($primary, $lightness: -15%);
        font-size: 1.25rem;
        font-weight: 500;
        display: block;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 45px;
        height: 45px;
        line-height: 1;
        display: block;
        font-size: 1.6rem;
        background: #1d341d;
        color: white;
        border-radius: 50%;
        border: none;
        font-weight: 400;
    }
}

.album-image-detail {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    border-radius: 28px;
    background-color: white;
    @extend %box-shadow;
}

.album-tracks {
    margin-top: 1rem;
    max-height: 454px;
    overflow-y: auto;
    color: $color-dark-2;
}

.album-tracks-title {
    font-weight: 600;
}

.track-detail {
    display: flex;
    font-size: 1rem;

    &__number {
        border: solid 1px #c9cfc6;
        color: #545754;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 0.4rem 1rem;
        border-radius: 100%;
    }

    &__name {
        width: 91%;
        padding: 0.4rem 1.5rem;
        border-bottom: solid 1px #e6e6e6;
    }

    &:last-child &__name {
        border: none;
    }
}

.error-inside {
    grid-column: span 2;
}

.error {
    background-color: white;
    margin-top: 2rem;
    border-radius: 24px;
    padding-inline: 7.5rem;
    padding-block: 6rem;

    &__title {
        font-size: 1.5rem;
        //font-weight: 300;
        color: #dd744b;
    }

    &__message {
        font-weight: 600;
    }
}

.u-hide {
    display: none;
}

.u-hide-scroll {
    overflow: hidden;
}

